{% load my_tags %}
<!DOCTYPE HTML>
<html>
<head>
    <base href="{{ get_base_url }}"/>
    <base target="_blank"/>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--[if lt IE 9]>
<script type="text/javascript" src="static/lib/html5shiv.js"></script>
<script type="text/javascript" src="static/lib/respond.min.js"></script>
<![endif]-->
    <link rel="stylesheet" type="text/css" href="{{ get_base_url }}static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ get_base_url }}static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="{{ get_base_url }}static/lib/Hui-iconfont/1.0.8/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="{{ get_base_url }}static/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" type="text/css" href="{{ get_base_url }}static/h-ui.admin/css/style.css"/>
    <!--[if IE 6]>
<script type="text/javascript" src="static/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>

<![endif]-->
    <title>监控概览</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 监控概况 <a
        class="btn btn-success radius r btn-refresh" id="id_refresh"
        style="line-height:1.6em;margin-top:3px"
        href="javascript:location.replace(location.href);" title="刷新"><i
        class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
            <tr class="text-c">
                <th width="80">监控项名称</th>
                <th width="80">类别</th>
                <th width="80">故障时间</th>
                <th width="80">当前状态</th>
                <th width="80">最后更新时间</th>
                <th width="80">备注</th>
                <th width="80">编辑</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr class="text-c">
                    <td>{{ item.mon_title }}</td>
                    <td>{{ item.mon_type|get_mon_type_name }}</td>
                    <td>{{ item.ctime|date:"Y-m-d H:i:s" }}</td>
                    {% if item.mon_status == 2 %}
                        <td class="td-status"><span class="radius btn btn-danger">告警中</span>
                        </td>
                    {% elif item.mon_status == 3 %}
                        <td class="td-status"><span class="radius btn btn-default">恢复</span>
                        </td>
                    {% else %}
                        <td class="td-status"><span class="radius btn btn-success">正常</span>
                        </td>
                    {% endif %}
                    <td>{{ item.utime|date:"Y-m-d H:i:s" }}</td>
                    <td>{{ item.remark }}</td>
                    <td class="f-14 td-manage"></a> <a style="text-decoration:none" class="ml-5"
                                                       onClick="record_remark_edit('编辑', {{ item.id }},400,150)"
                                                       href="javascript:;" title="编辑"><i
                            class="Hui-iconfont">&#xe6df;</i></a></td>
                </tr>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="{{ get_base_url }}static/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ get_base_url }}static/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="{{ get_base_url }}static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="{{ get_base_url }}static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="{{ get_base_url }}static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="{{ get_base_url }}static/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{{ get_base_url }}static/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">

    var base_url = $.cookie('base_url');
    var csrftoken = $.cookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $('.table-sort').dataTable({
        "aaSorting": [[1, "desc"]],//默认第几个排序
        "bStateSave": true,//状态保存
        "pading": false,
        "aoColumnDefs": [
            //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
            {#{"orderable": false, "aTargets": [0, 6]}// 不参与排序的列#}
        ]
    });

    /*编辑*/
    function record_remark_edit(title, id, w, h) {
        console.log(base_url);
        content = base_url + 'monitor/records/' + id + '/';
        console.log(content)
        var index = layer.open({
            type: 2,
            title: title,
            content: content,
        });
        layer.full(index);
    }


    function flashTable() {
        $('#id_monitor_list').click();
    }

    $(function () {


    })


</script>
</body>
</html>