<!--_meta 作为公共模版分离出去-->
{% load my_tags %}
<!DOCTYPE HTML>
<html>
<head>
   <base href="{{ 0| get_base_url }}"/>
    <base target="_blank"/>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--[if lt IE 9]>
<script type="text/javascript" src="static/lib/html5shiv.js"></script>
<script type="text/javascript" src="static/lib/respond.min.js"></script>
<![endif]-->
    <link rel="stylesheet" type="text/css" href="{{ 'static/h-ui/css/H-ui.min.css'|get_base_url }}"/>
    <link rel="stylesheet" type="text/css" href="{{ 'static/h-ui.admin/css/H-ui.admin.css'| get_base_url }}"/>
    <link rel="stylesheet" type="text/css" href="{{ 'static/lib/Hui-iconfont/1.0.8/iconfont.css'|get_base_url }}"/>
    <link rel="stylesheet" type="text/css" href="{{ 'static/h-ui.admin/skin/default/skin.css'|get_base_url }}"
          id="skin"/>
    <link rel="stylesheet" type="text/css" href="{{ 'static/h-ui.admin/css/style.css'| get_base_url }}"/>
    <!--[if IE 6]>
<script type="text/javascript" src="static/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>

<![endif]-->
    <title>MJB monitor</title>
</head>



<body>
<article class="page-container">
    <form class="form form-horizontal" id="form-article-add" method="post">
        <input type="hidden" id="groupId" value="{{ group.id|default:'0' }}">
        {% csrf_token %}
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">分组名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{{ group.gro_name }}" placeholder="" id="gro_name"
                       name="gro_name">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">分组描述：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{{ group.gro_desc }}" placeholder="" id="gro_desc"
                       name="gro_desc">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">监控项：</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                {% for item in item_list %}
                    <div class="check-box">
                        <input type="checkbox" name="monitor_item" value="{{ item.id }}" id="mon_{{ item.id }}"
                               {% if item.isSelect %}checked{% endif %}>
                        <label for="mon_{{ item.id }}">{{ item.mon_title }}</label>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">微信标签：</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                {% for tag in tag_list %}
                    <div class="check-box">
                        <input type="checkbox" name="monitor_wx_tag" value="{{ tag.tagid }}" id="tag_{{ tag.tagid }}"
                               tagname="{{ tag.tagname }}"
                               {% if tag.tagid in wx_tags %}checked{% endif %}>
                        <label for="tag_{{ tag.tagid }}">{{ tag.tagname }}</label>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">开启：</label>
            <div class="formControls col-xs-8 col-sm-7 skin-minimal">
                <div class="check-box">
                    <input type="checkbox" id="gro_status"
                           {% if group.gro_status %}checked{% endif %}>
                </div>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-4 col-sm-4 col-xs-offset-8 col-sm-offset-8">
                <button onClick="group_save_submit();" class="btn btn-primary radius" type="submit"><i
                        class="Hui-iconfont">&#xe632;</i> 保存
                </button>
            </div>
        </div>
    </form>
</article>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="{{ 'static/lib/jquery/1.9.1/jquery.min.js'|get_base_url }}"></script>
<script type="text/javascript" src="{{ 'static/lib/layer/2.4/layer.js'|get_base_url }}"></script>
<script type="text/javascript" src="{{ 'static/h-ui/js/H-ui.min.js'|get_base_url }}"></script>
<script type="text/javascript" src="{{ 'static/h-ui.admin/js/H-ui.admin.js'| get_base_url }}"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="{{ 'static/lib/My97DatePicker/4.8/WdatePicker.js'|get_base_url }}"></script>
<script type="text/javascript"
        src="{{ 'static/lib/datatables/1.10.0/jquery.dataTables.min.js'|get_base_url }}"></script>
<script type="text/javascript" src="{{ 'static/lib/laypage/1.2/laypage.js'| get_base_url }}"></script>
<script type="text/javascript">

    var base_url = $.cookie('base_url');

    function group_save_submit() {
        console.log('提交')
        var csrftoken = $.cookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    }


    /*关闭iframe*/
    function removeFrame() {
        var topWindow = $(window.parent.document),
            iframe = topWindow.find('#iframe_box .show_iframe'),
            tab = topWindow.find(".acrossTab li"),
            showTab = topWindow.find(".acrossTab li.active"),
            showBox = topWindow.find('.show_iframe:visible'),
            i = showTab.index();
        tab.eq(i - 1).addClass("active");
        tab.eq(i).remove();
        iframe.eq(i - 1).show();
        iframe.eq(i).remove();
    }

    $(function () {

        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });
        //表单验证
        $("#form-article-add").validate({
            rules: {
                gro_name: {
                    required: true,
                },
                gro_desc: {
                    required: true,
                },
            },
            onkeyup: false,
            focusCleanup: true,
            success: "valid",
            submitHandler: function (form) {
                requestData = {};
                requestData.gro_name = $('#gro_name').val();
                requestData.gro_desc = $('#gro_desc').val();
                requestData.gro_status = $("#gro_status:checked").val() ? 1 : 0;
                requestData.item_str = '';

                obj = document.getElementsByName("monitor_item");
                check_val = [];
                for (k in obj) {
                    if (obj[k].checked)
                        check_val.push(obj[k].value);
                }
                requestData.item_str = check_val.join(" ");

                wx_check = document.getElementsByName("monitor_wx_tag");
                check_val_id = [];
                check_val_name = [];
                for (k in wx_check) {
                    if (wx_check[k].checked)
                        check_val_id.push(wx_check[k].value);
                }
                console.log(check_val_id)
                requestData.notify_wx_tags_id = check_val_id.join(",");

                if (!requestData.notify_wx_tags_id) {
                    layer.msg('微信通知必填', {icon: 2, time: 1000});
                    requestData = {};
                    return;
                }
                groupId = $('#groupId').val();
                requestType = groupId > 0 ? 'put' : 'post';
                requestUrl = groupId > 0 ? 'monitor/groups/{{group.id}}/' : 'monitor/groups/';
                $.ajax({
                    url: base_url + requestUrl,
                    type: requestType,
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify({
                        gro_name: requestData.gro_name,
                        gro_desc: requestData.gro_desc,
                        notify_wx_tags_id: requestData.notify_wx_tags_id,
                        notify_wx_tags: '',
                        gro_status: requestData.gro_status,
                        item_str: requestData.item_str,
                    }),
                    success: function (data) {
                        console.log(data)
                        if (data.success) {
                            layer.msg('已完成!', {icon: 1, time: 1000});
                        } else {
                            layer.msg('失败!' + data.msg, {icon: 2, time: 3000});
                        }
                    },
                    error: function (data) {
                        layer.msg('失败!' + data.msg, {icon: 2, time: 1000});
                    },
                });
            }
        });


    });

</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>